/.idea
/.vs
/.vscode
/.vsconfig
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp.csproj
/Assembly-CSharp.csproj.DotSettings
/Library
/Logs
/obj
/Packages
/Shooting Star.sln
/Shooting Star.sln.DotSettings.user
/Temp
/UserSettings